@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-bar-style {
  justify-content: center;
  /* opacity: 0.5;
  z-index: 1;
  position: sticky; */
}

.joshua-tree {
  background-image: url(./images/jtnp_mountain_wm.png);
  background-color: #cccccc;
  top: 0px;
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }
  

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff6600;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
}